.root{
    -fx-background-color: aquamarine;
}

.text-field{
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.combo-box{
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: yellow;
}

.label{
    -fx-font-weight: bold;
}

.button{
    -fx-background-color: greenyellow;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

.button:hover{
    -fx-background-color: blue;
    -fx-text-fill: gold;
    -fx-cursor: hand;
}